* {
    margin: 0;
    padding: 0;

}

body {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
}

.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}

.container h1 {
    font-size: 3vw;
}

.search-container {
    width: 60vw;
    display: flex;
    gap: 1vw;

}

.search-container input {
    width: 100%;
    padding: 0.5vw 1vw;
    font-size: 1vw;
}

.btn {
    background-color: purple;
    color: white;
    border: none;
    padding: 0.2vw 1vw;
    font-size: 1vw;
}

.btn:hover {
    background-color: rgb(241, 3, 241);
}

.btn:active {
    background-color: blueviolet;
}

.avtar {
    justify-content: space-between;
    /* border: 2px solid black; */
    align-items: center;

}

.avatar-img img {
    width: 5vw;
    border-radius: 50%;


}


.avatar-img {
    align-items: center;
    gap: 1vw;
    margin: 1vw;

}


.card-container{
    /* width: 50%; */
    min-width: 50%;
    padding: 4vw 2vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    margin-top: 4vw;
    border-radius: 10px;
}

.profile-btn{
    flex: none;
}


.avtar-desc h1 , h2{
    font-size: 1.2vw;
}


.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
    font-size: 1vw;
}

.about{
    font-size: 1vw;
}

a{
    text-decoration: none;
}